<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

    <!-- 
    <bean id="customFreemarkerManager" class="org.apache.struts2.showcase.freemarker.CustomFreemarkerManager">
        <constructor-arg index="0">
            <ref bean="customFreemarkerManagerUtil" />
        </constructor-arg>      
    </bean>
    <bean id="customFreemarkerManagerUtil" class="org.apache.struts2.showcase.freemarker.CustomFreemarkerManagerUtil" />
     -->
    
	<import resource="applicationContext-webservice.xml"/>
	<import resource="applicationContext-login.xml"/>
</beans>

